meta(name="viewport" content="width=device-width, initial-scale=1")
link(href="./styles/style.css" rel="stylesheet")
head
  title LEB2
  <script>
    | console.log('test')
    - const lesson=['creating Your Class','Class Planning','Performance Feedback and Assessment','Tools']
  </script>
.h-screen.w-screen 
  header.header
    a.logo(href="")
      img(src="./images/leb2.png" width="70%")
    input.menu-btn(type="checkbox" id="menu-btn")
    label(class="menu-icon" for="menu-btn")
      span.navicon
    ul.menu.flex.justify-center.grid.grid.rows-1.text-center.font-medium(class="md:grid-cols-5")
      li
        a(href="work") Home
      li
        a(href="work") What is LEB2
      li
        a(href="work") Support

      li  
        a(href="work") New Features
      li.flex.content-center.justify-center.items-center
        button(href="work" class="lg:bg-leb lg:text-white h-3/4 w-3/5 rounded-md").text-leb Login

  .flex.justify-center.px-5(class="py-32")
    video(src='./images/welcometoLeb.mp4' autoplay muted) 
  .grid.justify-center.grids-rows-1.text-center
    .p.font-bold.text-xl.text-purple-700 LEB2 Fast Track Tutorial
    .p.font-medium (for Student)
  .grid.grid-cols-2.justify-center.content-center.px-5.py-10(class="lg:grid-cols-4")
    .div.text-center.mx-5
      a(href='#').mx-5
        img(src='./images/preview.jpg' class="rounded-md")
      a(href='#').mt-5
        p.font-medium basic
    .div.text-center.mx-5
      a(href='#').mx-5
        img(src='./images/preview.jpg' class="rounded-md")
      a(href='#').mt-5
        p.font-medium Assessment Activity
    .div.text-center.mx-5
      a(href='#').mx-5
        img(src='./images/preview.jpg' class="rounded-md")
      a(href='#').mt-5
        p.font-medium Attendance Checking
    .div.text-center.mx-5
      a(href='#').mx-5
        img(src='./images/preview.jpg' class="rounded-md")
      a(href='#').mt-5
        p.font-medium Online Lesson
  .grid.justify-center
    button(href="work" class="bg-purple-700 lg:text-white rounded-md h-11  w-36 md:h-12 mt-5 ").text-white See More
  .grid.justify-center.grids-rows-1.text-center.my-10
    .p.font-bold.text-xl.text-purple-700 LEB2 Fast Track Tutorial
    .p.font-medium (for Student)
  .grid.grid-cols-2.justify-center.content-center.px-5.py-5(class="lg:grid-cols-4")
    each val in lesson
      .div.text-center.mx-5
        a(href='#').mx-5
          img(src='./images/te.png' class="rounded-md")
        a(href='#').mt-5
        p.font-medium.mt-5= val
  .grid.justify-center
    button(href="work" class="bg-purple-700 lg:text-white rounded-md h-11  w-36 md:h-12 my-5 ").text-white See More
  .bg-gray-800.mt-10(class="grid justify-center")
    .pt-5.mx-10(class="h-3/4  md:grid-cols-3 md:grid md:justify-center")
      a.logo(href="")
        img(src="./images/leb2w.png" class="w-5/12 md:w-3/5")
      .grid.grid-rows-4.text-left.my-5
        a.text-white.text.text-2xl.font-bold(class="md:text-3xl") Support
        a.text-white Video Tutorial for Teacher
        a.text-white Video Tutorial for Student
        a.text-white Documentation
      .grid.grid-rows-5.text-left
        a.text-white.text.text-2xl.font-bold(class="md:text-3xl") Contact
        a.text-white About us
        a.text-white Facebook : kmuttlearning
        a.text-white Email : leb2@mail.kmutt.ac.th
        a.text-white Location : CB4, 8th floor, KMUTT
    .divide-y.divide-gray-500.mt-5(class="w-full")
      div 
      div
    .grid.grid-cols-3.justify-center.content-center.py-5.mx-5
      p.text-white © 2018 All Right Reserved
      div
      a.logo(href="").flex.justify-end
        img(src="./images/badge.png" class="w-2/3 md:w-2/5")

