
doctype html
<meta name="viewport" content="width=device-width, initial-scale=1">
link(href="./styles/style.css" rel="stylesheet")
.h-screen.w-screen 
  header.header
    a.logo(href="")
      img(src="./images/leb2.png" width="70%")
    input.menu-btn(type="checkbox" id="menu-btn")
    label(class="menu-icon" for="menu-btn")
      span.navicon
    ul.menu.flex.justify-center.grid.grid.rows-1.text-center.font-medium(class="md:grid-cols-5")
      li
        a(href="work") Home
      li
        a(href="work") What is LEB2
      li
        a(href="work") Support

      li  
        a(href="work") New Features
      li.flex.content-center.justify-center.items-center
        button(href="work" class="lg:bg-leb lg:text-white h-3/4 w-3/5 rounded-md").text-leb Login

  .flex.justify-center.px-5(class="py-32")
    video(src='./images/welcometoLeb.mp4' autoplay muted) 
  .grid.justify-center.grids-rows-1.text-center
    .p.font-bold.text-xl.text-purple-700 LEB2 Fast Track Tutorial
    .p.font-medium (for Student)
  .grid.grid-cols-2.justify-center.content-center.px-5.py-5(class="lg:grid-cols-4")
    .div.text-center.mx-5
      a(href='#').mx-5
        img(src='./images/preview.jpg' class="rounded-md")
      a(href='#').mt-5
        p.font-medium basic
    .div.text-center.mx-5
      a(href='#').mx-5
        img(src='./images/preview.jpg' class="rounded-md")
      a(href='#').mt-5
        p.font-medium Assessment Activity
    .div.text-center.mx-5
      a(href='#').mx-5
        img(src='./images/preview.jpg' class="rounded-md")
      a(href='#').mt-5
        p.font-medium Attendance Checking
    .div.text-center.mx-5
      a(href='#').mx-5
        img(src='./images/preview.jpg' class="rounded-md")
      a(href='#').mt-5
        p.font-medium Online Lesson
  .grid.justify-center
    button(href="work" class="bg-purple-700 lg:text-white rounded-md h-14 w-36").text-white See More





